{
    "layer": "top",
    "position": "top",
    "height": 34,
    "spacing": 0,

    "modules-left": ["sway/workspaces"],
    "modules-center": ["clock"],
    "modules-right": ["cpu", "memory", "network", "pulseaudio", "battery", "tray"],

    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": "{name}"
    },

    "clock": {
        "format": "{:%a %d %b  %H:%M}",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%Y-%m-%d}"
    },

    "cpu": {
        "format": " {usage}%",
        "interval": 2
    },

    "memory": {
        "format": " {percentage}%",
        "interval": 2
    },

    "network": {
        "format-wifi": "  {essid}",
        "format-ethernet": " {ifname}",
        "format-disconnected": "⚠ Offline",
        "tooltip-format": "{ifname}: {ipaddr}/{cidr}"
    },

    "pulseaudio": {
        "format": "{icon} {volume}%",
        "format-muted": " muted",
        "format-icons": {
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },

    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-charging": " {capacity}%",
        "format-icons": ["", "", "", "", ""]
    },

    "tray": {
        "spacing": 10
    }
}
