{
    "layer": "top",
    "height": 25,
    "modules-left": ["sway/workspaces"],
    "modules-right": ["network", "clock"],
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": "{icon}",
        "format-icons": {
            "1": "󰖟 Browser",
            "2": " Development",
            "3": "󱂛 API",
            "4": " Figma",
            "5": " Notes",
            "6": " Stream",
            "7": "󰭹 Chat",
            "8": " Files",
            "9": " Music",
            "10": " Message"
        }
    },
    "network": {
    	"format": "{ifname}",
	    "format-ethernet": " {ifname}",
        "format-wifi": "  {essid}",
        "format-linked": "{ifname} (No IP)",
       	"format-disconnected": "⚠ Disconnected",
        "format-alt": "{ifname}: {ipaddr}/{cidr}",
        "tooltip-format": "{ifname}: {ipaddr}/{cidr}"
    },
    "clock": {
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%Y-%m-%d}"
    }
}
